body {
  height: 100vh;
}
.container {
  align-items: center;
  max-width: 600px;
  flex-direction: row;
  height: 100%;
  margin: auto;
}
.score-section {
  border-radius: 25px;
}
.transparent {
  font-size: 15px;
}

.summary {
  height: auto;
  max-width: 100%;
  width: 700px;
  transform: scale(0.8);
  padding: 0;
}
