:root {
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

p {
  font-size: 18px;
}

.margin-bottom {
  margin-bottom: 18px;
  font-weight: 700;
  color: var(--Pale-blue);
}

.transparent-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--Light-lavender);
  padding: 8px 0px 0px;
}

.score {
  font-size: 64px;
}

.transparent {
  color: var(--Light-lavender);
  font-weight: 500;
  padding: 0px 10px 23px;
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: var(--white);
  width: 100%;
  height: auto;
  /* overflow: hidden; */
  flex-direction: column;
}

.score-section {
  width: 100%;
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  height: auto;
  width: 100%;
  max-width: 100%; /* Cambiado para ocupar todo el ancho disponible */
  border-radius: 0px 0px 25px 25px; /* Esquinas redondeadas en pantallas grandes */
  text-align: center;
  padding: 25px 35px 20px;
  color: var(--white);
}

.score-circle {
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
  height: 170px;
  width: 170px;
  border-radius: 100%;
  margin: 20px auto;
  padding: 30px;
}

.score-circle p {
  font-weight: 700;
  color: var(--Light-lavender);
}

.summary {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
}

.reaction {
  display: flex;
  flex-direction: row;
  padding: 17px 15px;
  margin: 15px 4px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 63, 63, 0.1);
  border-radius: 12px;
}

.reac {
  display: flex;
  align-items: center;
  color: var(--light-red);
}

.memory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px 15px;
  margin: 15px 4px;
  background-color: rgba(255, 204, 51, 0.1);
  border-radius: 12px;
}

.mem {
  display: flex;
  align-items: center;
  color: var(--orange-yellow);
}

.verbal {
  display: flex;
  flex-direction: row;
  padding: 17px 15px;
  margin: 15px 4px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 178, 166, 0.1);
  border-radius: 12px;
}

.verb {
  display: flex;
  align-items: center;
  color: var(--green-teal);
}
.visual {
  display: flex;
  flex-direction: row;
  padding: 17px 15px;
  margin: 15px 4px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(44, 54, 255, 0.1);
  border-radius: 12px;
}

.view {
  display: flex;
  align-items: center;
  color: var(--cobalt-blue);
}

button {
  color: var(--white);
  background-color: var(--Dark-gray-blue);
  border: none;
  border-radius: 40px;
  margin: 15px;
  padding: 14px;
}
img {
  margin-right: 8px; /* Espacio entre la imagen y el texto del span */
}

.summary span {
  color: var(--Light-lavender);
}

.summary h1 {
  opacity: 0.8;
}

.summary p {
  opacity: 0.8;
}
